/* styles/Home.module.css */

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.main {
  width: 100%;
  text-align: center;
}

.headerImage {
  width: 100%;
  max-height: 400px; /* Adjust height as needed */
  object-fit: cover;
}

.title {
  margin-top: 2rem;
  font-size: 2rem;
  color: #333;
}

.description {
  margin-top: 1rem;
  color: #666;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.card {
  flex-basis: calc(33.333% - 2rem);
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #333;
  text-decoration: none;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #333;
}

.card p {
  margin: 0;
  font-size: 1rem;
  color: #666;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
}
